.startbar{
flex-direction: column;
align-items: center;
}

.main{
    height: 130px;
    display: flex;
   color: rgb(250, 242, 242);
    }
.header {
    background: rgb(33, 5, 83);
    width: 100%;
}
.hed_title {
    text-align: center;
    width: 55%;
    font-size: medium;
    text-align: left;
    margin-left: 12%;
    display: flex;
    padding: 3px;
}
.date{
    font-size: 12px;
}
.logo{
   padding: 10px;
}
.desc{
   font-size: 12px; 
  text-align: center;
}
.sub_main_parts{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 12px;
}
.credits{
    padding: 10px;
    
}
.point{
   text-align: right;
}
.main_data_display{
    height: 68vh;
}
.btn{
    width: 100%;
    height: 5vh;
background-color: rgb(231, 229, 229);
    border: none;
    color:rgb(141, 139, 139);
}
.last_part{
    padding: 8px;
}