.players_roles{
    display: flex;
    justify-content:space-evenly;
    font-size: 12px;
   padding: 5px;
   color:rgb(189, 186, 186) ;
   position: sticky;
}
.select_items_maxmin{
    padding: 5px;
    background-color: rgb(231, 229, 229);
    text-align: center;
    font-size: 12px;
    color:rgb(128, 124, 124);
    position: sticky;
}